/Uno/Grueso/ClienteGrueso/nbproject/private/
/Uno/Grueso/ClienteGruesoWS/nbproject/private/
/Uno/Grueso/ClienteGrueso/build/
/Uno/Grueso/ClienteGruesoWS/build/
/Uno/Grueso/ClienteGrueso/dist/
/Uno/Grueso/ClienteGruesoWS/dist/