<h1><center>Sala Cocina</center></h1>

<ul id="chat">
  <%= render @cocinas %>
</ul>
<div id="newMsg">
    <%= form_for Cocina.new, :remote => true do |f| %>
      <%= f.text_field :content, :size => 50, :maxlength => 160, :minlength => 2 %>
      <%= f.submit "Send" %>
    <% end %>
</div>
