<div id="userName">Conectado como <%= current_nickname %>. <%= link_to "Salir", inicios_path, :method => :delete, :confirm => "De verdad deseas salir de este maravilloso chat?" %></div>

<h1>Chat Web</h1>

Dale click al canal que quieras entrar<br /><br/>
<%= link_to "Cocina", cocinas_path %> <br />
<%= link_to "Deporte", deportes_path %>

