<div class="center"><h1>Chat Web</h1></div>


<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<div class="center entrar">
  <%= form_tag session_path do %>
    Por favor entre su nombre de usuario:
    <%= text_field_tag :usuario %>
    <%= submit_tag "Entrar" %>
  <% end %>
</div>